.projects{
    margin-top: 96px;
    width: 100%;
}

.projects h2{
   margin-bottom: 32px;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
}

.card{
    background-color: #2B2C3C;
    display: flex;
    border-radius: 20px;
}
.card img{
   border-radius: 0 20px 20px 0;
}

.expgroup{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 500px;
}

.exp{
    background-color: #494A57;
    color: #B6B7BC;
    padding: 12px 16px;
    border-radius: 20px;
}

.left{
    padding: 20px;
    display: flex;
  flex-direction: column;
}

.info {
  margin-top: auto;
}

.info h2 {
  margin-bottom: 16px;
}

.info p {
  margin-bottom: 32px;
}

a{
    text-decoration: none;
}

.button{
    display: flex;
    align-items: center;
    background-color: #895AF6;
    gap: 16px;
    border: none;
    border-radius: 10px;
    padding: 14px 12px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 17px;
    line-height: 28px;
    
}

.button:hover{
    background-color: #6C47C2;
}

.buttonmore {
  background-color: #895AF6;
  border: none;
  border-radius: 10px;
  padding: 18px 75px;
  color: white;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.3s;
font-size: 17px;
  display: block;       /* превращаем в блочный элемент */
  margin: 32px auto 0;  /* отступ сверху и центрирование */
}

.buttonmore:hover{
    background-color: #6C47C2;
}
