.main {
  background-color: #2B2D3C;
  border-radius: 20px;
  height: 750px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.carousel {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 0 40px;
}

.title {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}

.title h2 {
  margin-bottom: 16px;
  max-width: 704px;
  color: white;
}

.change {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: flex-end;
  max-width: 140px;
}

.change button {
  width: 6px;
  height: 12px;
}

.change p {
  display: inline-block;
  text-align: center;
  width: 60px;
}

.subtitle {
  max-width: 704px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: white;
}

.button {
  margin-top: 32px;
  width: 274px;
  background-color: #895AF6;
  border: none;
  border-radius: 10px;
  padding: 18px 59px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
}

.button:hover {
  background-color: #6C47C2;
}

.left,
.right {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img,
.right img {
  width: 24px;
  height: 24px;
}

.image {
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.highlight {
  color: #895AF6;
}

.disabled img,
.left:disabled img,
.right:disabled img {
  opacity: 0.3;
  cursor: default;
}

.desktopOnly {
  display: flex;
}

.mobileOnly {
  display: none;
}

/* --- Кастомная пагинация --- */
.pagination {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
  margin-bottom: 40px;
}

.dot {
  width: 20px;
  height: 10px;
  border-radius: 10px;
  background-color: #2B2C3C;
  transition: all 0.3s ease;
}

.dot.active {
  width: 96px;
  height: 10px;
  background-color: #895AF6;
}

/* --- Адаптив --- */
@media (max-width: 768px) {
  .main {
    height: auto;
    min-height: 100vh; /* чтобы было пространство для контента + кнопки */
    position: relative;
    padding-bottom: 100px;
  }

  .carousel {
    text-align: left;
    padding: 20px 20px 0 20px;
  }

  .title {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .title h2 {
    font-size: 20px;
    line-height: 24px;
    max-width: 100%;
    font-weight: 600;
  }

  .subtitle {
    font-size: 16px;
    line-height: 24px;
    max-width: 100%;
    font-weight: 400;
  }

  .button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    /* width: auto; */
    padding: 16px 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .change {
    margin-top: 24px;
    justify-content: center;
    max-width: none;
  }

  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: flex;
  }

  .image {
    margin-left: 0;
    margin-right: 0;
    width: 190vw;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }

  .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0;
  }

  .pagination {
    display: flex;
  }
}
