.reason{
    margin-top: 96px;
}

.reason h2{
    margin-bottom: 40px;
}

h2{
    font-size: 38px;
    line-height: 40px;
    font-weight: 600;
}

.highlight{
    color: #895AF6;
    
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  
}

.card {
  flex: 1 1 calc(50% - 16px); /* 2 в ряд с учетом gap */
  max-width: 560px;
  background-color: #2B2C3C;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}



.card img {
  width: 100%;           /* делает картинку на всю ширину карточки */
  height: auto;          /* сохраняет пропорции */
  display: block;        /* убирает нижние пробелы под изображением */
  border-radius: 20px 20px 0 0;
  object-fit: cover;     /* обрезка по контейнеру — опционально */
}


.exp{
    padding: 20px;
}

.exp p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

.exp h3{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 16px;
}





