.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: 1s ease, backdrop-filter 0.3s ease;
  height: 96px;
}

.header.scrolled {
  background-color: rgba(20, 20, 20, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  position: relative;
}

.ellipse {
  position: absolute;
  top: -145vw;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 200vw;
  background: radial-gradient(circle, rgba(116, 83, 243, 0.8) 0%, rgba(116, 83, 243, 0) 100%);
  filter: blur(80px);
  z-index: 0;
  pointer-events: none;
}

.options ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.options a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.options a:hover {
  color: #895AF6;
}

.button {
  background-color: #895AF6;
  width: 274px;
  border: none;
  border-radius: 10px;
  padding: 18px 59px;
  color: white;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #6C47C2;
}

.logo {
  width: 55px;
  height: 40px;
}

/* Общий стиль для бургер кнопки */
.burgerBtn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 52px;
  height: 52px;
  position: relative;
  z-index: 1001;
}

/* Когда открыто меню — фиксируем крестик */
.burgerBtnOpen {
  position: fixed;
  top: 20px;
  right: 20px;
}

/* Стилизуем крестик */
.closeIcon {
  font-size: 36px;
  color: white;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Стилизуем изображение бургера */
.burgerBtn img {
  width: 52px;
  height: 52px;
  border: none;
}

/* Мобильное меню */
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 73vh;
  background-color: #080A1C;
  padding-top: 96px; /* чтобы логотип сверху не перекрывался */
  z-index: 999;
  padding: 31.55px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.mobileContent {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
  width: 100%;
  /* padding: 40px 20px; */
}

.mobileContent ul {
  list-style: none;
  padding: 0;
  /* margin: 24px 0 ; */
}

.mobileContent li {
  margin-bottom: 24px;
  text-align: left;
  font-size: 22px;
  color: white;
  font-weight: 400;
}

.mobileContent a {
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.mobileContent a:hover {
  color: #895AF6;
}

/* Кнопка внизу меню */
.mobileButton {
  background-color: #895AF6;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 69px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* .mobileContent a:last-child{
  margin: 0 auto;
  display: flex;
  justify-content: center;
} */

.mobileButton:hover {
  background-color: #6C47C2;
}

.mobileLogo {
  width: 55px;
  height: 40px;
  margin: -3px 0 26px 0;
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .options {
    display: none;
  }

  .button {
    display: none;
  }

  .burgerBtn {
    display: block;
    
  }

  .burgerBtnOpen{
    margin-top: 3px;
  }
}
