.footer{
    margin-top: 96px;
    margin-bottom: 64px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Заголовки внутри колонок — серые */
.column p {
  margin-bottom: 16px;
  color: #B0AFBD; /* или другой серый по твоему дизайну */
}

/* Убираем точки у списка и отступы */
.opt {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Убираем синие подчеркивания у ссылок и настраиваем цвет */
.opt a {
  text-decoration: none;
  color: white; /* можешь заменить на нужный цвет */
  transition: color 0.3s;
}

/* Добавим эффект при наведении */
.opt a:hover {
  color: #895AF6;
}


.bottom{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bottom p{
     color: #B0AFBD
}


