.section {
  max-width: 1180px;      /* максимальная ширина */
  width: 100%;            /* занимает всю доступную ширину */
  margin: 0 auto;
  position: relative;
  padding: 0 20px;        /* добавь отступы, чтобы не прилипало к краям */
  box-sizing: border-box;
}


.App{
  /* overflow: hidden; */
}



