body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #080A1C;
  font-family: 'Inter', sans-serif;
  color: #fff;

}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}





